
  @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Unbounded:wght@200;300;400;600&display=swap');

:root{
--white_color: hsl(0, 0%, 100%);
--lightgray_color: hsl(212, 45%, 89%);
--grayish_color: hsl(220, 15%, 55%);
--darkblue_color: hsl(218, 44%, 22%);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #d5e1ef;
    font-family: 'Epilogue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    width: 320px;
    padding: 15px;
    border-radius: 19px;
    background-color: var(--white_color);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.card__img{
    max-width: 100%;
    border-radius: 12px;
}

.card__title{
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
    color: var(--darkblue_color);
}

.card__text{
    text-align: center;
    font-size: 14px;
    color: var(--grayish_color);
    margin-bottom: 20px;
}
